.main,
.layout-container {
    min-height: 100%;
    height: auto;
    width: 100%;
}

%sc-layout {
    min-height: 100%;
}

%sc-footer {}

.layout-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

//TT new styles
#homeslider {
    img.desktop-slide {
        display: block;
    }
    img.mobile-slide {
        display: none;
    }
    @media (max-width: $screen-sm) {
        img.desktop-slide {
            display: none;
        }
        img.mobile-slide {
            display: block;
        }
    }
}


.this-full-width {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.sec_home #main-container {
    @media (min-width: $screen-md-min) {
        //padding-top: 145px;
    }
}

.header-message,
#layout.layout {
    padding: 0 !important;
}

#main-container {
  @media (min-width: $screen-md-min) { padding-top: 204px; /* 255px with header */ }
}

// Breadcrumb
div.shopping-layout-breadcrumb {
    width: 100%;
    padding: 0 !important;

    div.global-views-breadcrumb-container {
        @extend .container;
        margin-top: $sc-padding-lv1 * 4;
    }
}

//Media Queries
$screen-xxs-min: 360px;
$screen-xlg-min: 1440px;

//Custom Badges Labels at FS, QV, PDP
.custombadge {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 12px;
    color: #000;
}

.qv-badge,
.pdp-badge {
    float: left;
    width: 100%;
    height: auto;

    @media (max-width: $screen-sm-min) {
        text-align: center;
    }

    .custombadge {
        display: inline-block;
        position: initial;
        margin: 5px 0;
    }
}

// Reset Styles - Google buttons
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    border-radius: 0px;
}

.page-not-found {
    padding: $sc-padding-lv1*8 0 120px 0;
}
