.subscriptions-list-actionable-header{
	@extend .recordviews-actionable-header;
}

.subscriptions-list-title {
	padding: $sc-padding-lv3 0;
	border-bottom: 1px solid $sc-color-theme-border-light;
	border-top: 1px solid $sc-color-theme-border-light;
}

.subscriptions-list-results-table{
	width: 100%;

	td{
		padding: $sc-padding-lv3;
		vertical-align: middle;

		@media (max-width: $screen-md-min) {
			display: block;
			padding: 0;
		}
	}

	th{
		font-weight: $sc-font-weight-normal;

		&.subscriptions-list-title-header-details {
			width: 40%;
		}
	}

	@media (max-width: $screen-md-min) {
		.recordviews-title{
			padding-top: $sc-padding-lv3;
		}
		.recordviews-status{
			padding-bottom: $sc-padding-lv3;
		}
	}
}

.subscriptions-list-title-header-status{
	width: 20%;
}

.subscriptions-list-title-header-activation-date{
	@extend .recordviews-date-header;
	width: 20%;
}

.subscriptions-list-table-header-row-date {
	@extend .recordviews-date-header;
	width: 15%;
}


