.subscriptions-details{
	h2 {
		display: inline-block;
		vertical-align: middle;
		max-width: 70%;
		@media (min-width: $screen-md-min) {
			max-width: 75%;
		}
	}

	.subscriptions-details-label-active {
		@extend .label-success;
	}

	.subscriptions-details-label-suspended, .subscriptions-details-label-processing {
		@extend .label-warning;
	}
	.subscriptions-details-label-closed {
		@extend .label-error;
	}
}

.subscriptions-details-top-info {
	@extend .box-column;
	margin: $sc-margin-lv6 0;
    position: relative;
}

.subscriptions-details-invoice-link {
    @extend .button-link;
    bottom: $sc-margin-lv6;
    margin: 0;
    padding-bottom: 0;
    position: absolute;
    right: $sc-margin-lv3;
}

.subscriptions-details-plan-header,
.subscriptions-details-lines-header {
	margin-bottom: $sc-margin-lv3;
	margin-top: $sc-margin-lv5;
}

.subscriptions-details-header-container{
	display: inline-block;
	margin-right: $sc-margin-lv6;
}

.subscriptions-details-end-date {
    margin-bottom: $sc-margin-lv3;
    @media (min-width: $screen-md-min) {
        margin-bottom: 0;
    }
}

.subscriptions-details-line-value {
	@extend .large-price;
    font-size: $sc-font-size-m;
}
.subscriptions-details-line-label {
	@extend .sc-label;
}
.subscriptions-details-line-date {
	@extend .sc-label;
	color: $sc-color-copy-dark;
	@media (max-width: $screen-sm-max) {
		display: block;
	}
}

.subscriptions-details-addons-button {
	@extend .button-secondary;
	@extend .button-small;
	display: block;
	@media (max-width: $screen-xs-max) {
		margin-bottom: $sc-margin-lv6;
	}
	@media (min-width: $screen-md-min) {
		float: right;
		margin-top: $sc-margin-lv1;
	}
}

.subscriptions-details-buttons-container {
	display: block;
	margin-top: $sc-margin-lv6;
}

.subscriptions-details-cancel-button, .subscriptions-details-reactivate-button {
	@extend .button-link;
	display: block;
	margin: 0 auto;
	@media (min-width: $screen-md-min) {
		display: inline-block;
		vertical-align: middle;
	}
}



