.order-wizard-paymentmethod-poquote-module {
  padding: $sc-padding-lv2 $sc-padding-lv3;
  margin-bottom: $sc-margin-lv4;
  border: 1px solid $theme-neutral-color;
  background:transparent;

  @media (min-width: $screen-sm-min) {
    padding: $sc-padding-lv6;
    margin-bottom: $sc-margin-lv6;
  }

  &-title {
    margin-bottom: $sc-margin-lv2;
  }

  label {
    display: block;
  }

  &-label {
    display: block;
    color: $sc-color-copy-dark;
    margin-bottom: $sc-margin-lv1;
    font-size: $sc-font-size-m;
    font-weight: $sc-font-weight-semibold;
  }

  &-optional {
    font-size: .9em;
    font-weight: $sc-font-weight-normal;
  }

  &-value {
    width: 100%;
  }
}