.facets-facet-browse {
	@extend .container;
}

.facets-facet-browse-breadcrum {
	@extend .breadcrumb;
}

.facets-facet-browse-category {
	@extend .clearfix;
}
/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	border-bottom: 1px solid $sc-color-theme-border-light;
	padding: $sc-margin-lv1 0 $sc-margin-lv2;
}

.facets-facet-browse-title {
	@extend .list-header-title-ahead;

	@media (min-width: $screen-md-min) {
		margin-top: $sc-margin-lv1;
	}
}

.facet-header {
	@media (max-width: $screen-md) {
		h2.facets-facet-browse-title.browse-tit-cat {
			margin-top: 11px;
			float: left;
		}
		a.facets-item-list-display-selector {
			margin-top: 7px;
			float: left;
		}
	}
}



.facets-facet-browse-list-header {
	@extend .list-header;
}

.facets-facet-browse-list-header-actions {
	@extend .list-header-actions;
}

.facets-facet-browse-list-header-expander {
	@extend .list-header-expander;
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;
	margin-right: 0;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-filters {
	@extend .list-header-filters;
}

.facets-facet-browse-list-header-filters-wrapper {
	@extend .list-header-filters-wrapper;
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
}

.facets-facet-browse-list-header-filter-column {
	@extend .list-header-filter-column;
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
	border-radius: 0;
	padding: $sc-padding-lv2;

	.facets-facet-browse-list-header-filter-facets-icon {
		@extend .list-header-filter-facets-icon;
		font-size: 22px;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content,
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-facets-sidebar
{
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.facets-faceted-navigation-item-cateogry
{
	padding-right: $sc-padding-lv3;
}

.facets-faceted-navigation-item-cateogry .facets-faceted-navigation-item-facet-group-expander-icon
{
	line-height: 66px + $sc-padding-lv6;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	background-color: $sc-neutral-shade-0;
	overflow-x:hidden;

	@media (min-width: $screen-md-min) {
		@include box-shadow(none);
		overflow:hidden;
		padding-right: $sc-padding-lv3;
		width: 25%;
		background-color:transparent;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0px;
}

.facets-facet-browse-results {
	width: 100%;
	padding: 0;
	float: left;

	@media (min-width: $screen-md-min) { width: 75%; }

}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-margin-lv4;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
	line-height: 15px;
	}

.facets-facet-browse-items {

	.item-cell-price {
		margin-bottom: $sc-margin-lv2;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

.facets-facet-browse-pagination {
	float: right;
	margin-bottom: $sc-margin-lv8;
}

.facets-facet-browse-banner-section-bottom {
	clear: both;
}

.facets-facet-browse-cms-area-2 {
	@extend .col-md-9;
	@extend .col-md-offset-3;
}


//TT new styles
// Facet header
header.facets-facet-browse-header {
	border: none;
	padding: 0;
	@media (max-width: $screen-md-min) {
		border: 1px solid $theme-neutral-color;
	}
	div.facet-header {
		padding: 0;
		float: left;
		width: 100%;
		// margin-bottom: $theme-base-size * 3;
		border: none; // Products Qty.
		h1.facets-facet-browse-title {
			margin: 0;
			line-height: 48px;
			color: $theme-secondary-ft-color;
			//font-weight: normal;
			float: left;
			font-family: $font-family-secondary;
			text-transform: uppercase;
			//font-weight: $theme-font-weight-light;
			span {
				color: $theme-secondary-ft-color;
				//font-weight: normal;
				font-family: $font-family-secondary;
			}
		}
		@media (max-width: $screen-md-min) {
			padding: 0 $theme-base-size * 3;
			margin-bottom: $theme-base-size;
		}
	}
}

// ITEM LIST DISPLAY ICONS.
.facets-item-list-display-selector {
	width: 30px;
	height: auto;
	background: transparent;
	opacity: 0.25;
	border: none;
	color: $theme-primary-ft-color;

	// ICONS.
	i {
		width: 33px;
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		color: $theme-primary-ft-color;
	}

	&.active {
		opacity: 1;
		background: transparent;
		border: none;

		i { color: $theme-primary-ft-color; }

	}

}

// Sort selects
nav.facets-facet-browse-list-header {
	display: none;
	float: left;
	@media (max-width: $screen-md-min) {
		padding: 0 $theme-base-size * 3;
		width: 100%;
	}
	div.facets-facet-browse-list-header-filters-wrapper {
		border: none;
		float: left;
		width: 100%;
		background: transparent;
		margin: 0;
		padding: $theme-base-size * 4 0;
		@media (max-width: $screen-md-min) {
			padding: $theme-base-size * 4 $theme-base-size * 3;
		}
	}
}

// Sort & Filter expander
div.facets-facet-browse-list-header-expander {
	@media (max-width: $screen-md-min) {
		display: block;
		width: 100%;
		margin: 0;
	} // Button (md-screen)
	button.facets-facet-browse-list-header-expander-button {
		width: 100%;
		margin-bottom: 0;
		text-align: left;
		background: transparent;
		color: $theme-input-color;
		border-color: $theme-input-color;
		text-align: left;
		font-size: $theme-sm-font-size;
		text-transform: uppercase;
		&.collapsed {
			margin-bottom: $theme-base-size * 3;
			background: transparent;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			outline: none;
			color: $theme-tertiary-color;
			background: $theme-input-color;
			&:hover {
				background: $theme-input-color;
			}
		}
		i {
			font-size: 20px;
			color: $theme-input-color;
			line-height: 12px;
			height: 12px;
			margin-top: 14px;
		}
	}
}

// Narrow By
div.facets-facet-browse-list-header-filter-column {
	padding-left: 0; // Button
	button.facets-facet-browse-list-header-filter-facets {
		margin-bottom: 14px;
		background: transparent;
		font-size: $theme-sm-font-size;
		color: $theme-input-color;
		border-color:$theme-input-color;
		i {
			line-height: 23px;
			font-size: 18px;
			color: $theme-input-color;
		}
		&:focus {
			outline: none;
		}
		@media (max-width: $screen-md-min) {
			margin-bottom: $theme-base-size * 2;
		}
	}
	select[class] {
		font-family: $font-family-primary;
		font-size: $theme-sm-font-size;
		background-size: $theme-base-size * 4;
		//border-color: $sc-color-secondary;
		background-position: 98% 75%;
		padding: $theme-base-size * 2;
		min-width: 200px;
		margin-bottom:10px;
		&:hover,
		&:focus {
			outline: none;
		}
	}
	@media (max-width: $screen-md-min) {
		padding: 0;
		width: 100%;
	}
}

// Filters selected
div.facets-facet-browse-narrowedby {
	padding: $theme-base-size * 4 0 $theme-base-size * 4 0;
	text-align: left;
	font-weight: $theme-font-weight-normal; // Option selected
	font-size: $theme-sm-font-size;
	a.facets-facets-display-filter {
		//border-top: 2px solid $theme-primary-color;
		//border-bottom: 2px solid $theme-primary-color;
		color: $theme-primary-color;
		background: transparent;
		padding: $theme-base-size $theme-base-size * 2; // Close icon
		i.facets-facets-display-filter-delete-icon {
			color: $theme-primary-color;
		}
	}
}

// Clear All button
div.facets-facets-display-clear-wrapper {
	a {
		border: none;
		@media (max-width: $screen-md-min) {
			width: 100%;
			margin-top: $theme-base-size * 3;
			background: transparent;
			color: $theme-primary-color;
			text-transform: uppercase;
			line-height: 22px;
			text-align: left;
			padding-left: 0;
			padding-right: 0;
			border-top: 2px solid $theme-header-ft-color-primary;
			border-bottom: 2px solid $theme-header-ft-color-primary;
			i {
				margin-top: 1px;
				float: right;
				color: $theme-primary-color;
			}
			&:hover {
				background: transparent;
				color: $theme-primary-color;
			}
		}
	}
}

// Left Navigation
div.facets-facet-browse-facets {
	text-align: left; // Left Nav Titles
	margin-top: $theme-base-size * 2;
	.facets-faceted-navigation-item-category{
		margin-bottom: 30px;
		i{padding:0px; font-size:20px; margin-top:0px;}
		li a{
			padding: 10px 0;
		}
	}
	a.facets-faceted-navigation-item-category-facet-group-expander{padding-top:0px;}
	h3, p.theme-narrow-by-title {
		margin: 0;
		line-height: normal;
		color: $theme-secondary-ft-color;
		font-size: 22px;
		font-family: $font-family-secondary;
		text-transform: uppercase;
		font-weight: $theme-font-weight-semi-bold;
		text-align: left;
		padding:0px;
		@media (max-width: $screen-md-min) {
			padding: 0 $theme-base-size * 3;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 25%;
		margin: 0;
		padding: 0 $sc-padding-lv5 0 0;
		border: none;
		// Results
		h4.facets-faceted-navigation-results {
			display: none;
			@media (max-width: $screen-md-min) {
				display: block;
				padding: $theme-base-size * 4 $theme-base-size * 3 $theme-base-size * 2 $theme-base-size * 3;
			}
		}
	}

	// Results
	h4.facets-faceted-navigation-results {
		@media (max-width: $screen-md-min) {
			display: block;
			padding: $theme-base-size * 4 $theme-base-size * 3 $theme-base-size * 2 $theme-base-size * 3;
		}
	} // Facet Group Block
	div.facets-faceted-navigation-facet-group {
		border-bottom: 1px solid $theme-neutral-color;
		>div {
			padding: 0;
			line-height: $theme-base-size * 6;
			font-size: 20px;
		}
	} // Filters containers
	div.facets-faceted-navigation-item-facet-group,
	div.facets-faceted-navigation-item-color-facet-group,
	div.facets-faceted-navigation-item-range-facet-group {
		border-bottom: 1px solid $theme-neutral-color;
		margin: 0;
		padding: $theme-base-size * 2 0;
		a[class$="facet-group-expander"],
		a[class$="facet-group-expander collapsed"],
		div.facets-faceted-navigation-item-range-facet-group-expander {
			// Filter title
			h4[class*="group-title"] {
				text-transform: uppercase;
				font-weight: $theme-font-weight-normal;
				word-wrap: break-word;
				line-height: 1rem;
			} // Icon - Arrow
			i {
				margin-top: 0px;
				font-size: 20px;
			}
		}
		@media (max-width: $screen-md-min) {
			padding-left: $theme-base-size * 3;
			padding-right: $theme-base-size * 3;
		}
	}
}

div.facets-facet-browse-facets {
	@media (max-width: $screen-md-min) {
		// Back Pusher btn.
		div.sc-pusher-header {
			background: $theme-header-bck-color-mobile;
			border: none;
			margin: 0;
			a {
				color: $theme-tertiary-color;
				font-size: $theme-sm-font-size;
				text-transform: uppercase;
				&:after {
					content: "\f104";
				}
			}
		}
	}
}

.facets-faceted-navigation-item-facet-group ul li{
	margin:10px 0;
}

// Color options
ul.facets-faceted-navigation-item-color-picker,
.facets-faceted-navigation-item-color-picker-extra {
	li {
		min-width: $theme-base-size * 7;
		min-height: $theme-base-size * 7;
		a {
			border: 1px solid $theme-neutral-color-lightest;
			&:hover,
			&.active {
				&:before {
					height: $theme-base-size * 5;
					width: $theme-base-size * 5;
					opacity: 0.8;
				}
			}
			span {
				width: $theme-base-size * 7;
				height: $theme-base-size * 7;
			}
		}
	}
}

// Price Range - bar
div.facets-faceted-navigation-item-range-facet-group-wrapper > span{
	font-size:$theme-md-font-size;
}
div.facets-faceted-navigation-item-range-slider {
	>div {
		background: $theme-primary-color;
	}
	button {
		color: $theme-secondary-color;
	}
}

// Left navigation Clear All top button
a.facets-faceted-navigation-facets-clear {
	position: relative;
	&:hover {
		color: $theme-primary-color;
		background: transparent;
		text-decoration: underline;
		span{text-decoration: underline;}
		i {
			color: $theme-primary-color;
		}
	}
	@media (min-width: $screen-md-min) {
		margin:$theme-base-size * 3 0 0 0;
		width: 100%;
		text-align: left;
		background: transparent;
		border: none;
		color: $theme-primary-color;
		border-top: 2px solid $theme-primary-color;
		border-bottom: 2px solid $theme-primary-color;
		line-height: 21px;
		font-weight: $theme-font-weight-semi-bold;
		text-transform: uppercase;
		padding: $theme-base-size * 3 0;
		i {
			color: $theme-primary-color;
			float: right;
			margin-top: 1px;
		}
	}
	@media (max-width: $screen-md-min) {
		text-align: left;
		background: transparent;
		border: none;
		color: $theme-primary-color;
		border-top: 2px solid $theme-primary-color;
		border-bottom: 2px solid $theme-primary-color;
		line-height: 21px;
		font-weight: $theme-font-weight-semi-bold;
		text-transform: uppercase;
		padding-left: 0;
		padding-right: 0;
		i {
			float: right;
			padding-left: 8px;
			color: $theme-primary-color;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

// Filter options
ul.facets-faceted-navigation-item-facet-optionlist,
.facets-faceted-navigation-item-facet-optionlist-extra {
	>li {
		margin:10px 0;
		// Options
		>a {
			padding: $theme-base-size $theme-base-size * 2;
			color: $theme-primary-ft-color;
			&:hover {
				text-decoration: underline;
				span{text-decoration: underline;}
			}
			&.option-active {
				background: transparent;
				font-weight: $theme-font-weight-semi-bold;
				//padding-left: $theme-base-size * 4;
				padding-right: 0px;
				color: $theme-primary-ft-color;
				i {
					float: right;
					color: $theme-primary-ft-color;
					margin-top: 0;
					line-height: $theme-base-size * 6;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

// "See More" & "See Less" facet options btn.
button.facets-faceted-navigation-item-optionlist-extra-button, a.facets-faceted-navigation-item-optionlist-extra-button {
	padding: 0;
	border: none;
	color: $theme-primary-color;
	margin: $theme-base-size * 2 auto;
	display: table;
	text-transform: uppercase;
	&:hover,
	&:active,
	&:focus {
		color: $theme-primary-color;
		background: transparent;
		text-decoration: underline;
		span{color: $theme-primary-color;
			background: transparent;
			text-decoration: underline;}
	}
}

ul.facets-faceted-navigation-item-facet-optionlist-extra.collapse.in {
	button.facets-faceted-navigation-item-optionlist-extra-button, a.facets-faceted-navigation-item-optionlist-extra-button {
		&:hover,
		&:active,
		&:focus {
			color: $theme-primary-color;
		}
	}
}

//Mobile Narrow By filter box > fix shadow visibility on mobile devices
.facets-facet-browse-facets[data-pusher="sc-pushable-md"]{
	@media (max-width: $screen-md-min) {
	margin-right:-3px;
	margin-top:0px;
	}
}

//TT new styles : pagination
div.facets-facet-browse-pagination {
	margin-top: $theme-base-size * 3;
	// Pagination
	ul.global-views-pagination-links {
		// Pages
		li.global-views-pagination-links-number {
			a {
				color: $theme-primary-ft-color;
				line-height: 44px;
				background: #E4E4E4;
				// Active page
				&.global-views-pagination-active { color: $theme-accent-color; background: $theme-primary-color; }
			}
		}
		// Arrows
		li.global-views-pagination-next,
		li.global-views-pagination-prev {
			a {
				background: #CCC;
				line-height: 44px;
				i { color: $theme-primary-ft-color; font-size: $theme-lg-font-size; }
			}
		}
	}
	// Page count
	p.global-views-pagination-count { padding: 11px $theme-base-size * 4; float: left; }
}
