section#theme-privacy-policy{
  margin: $theme-base-size * 4 0 $theme-base-size * 8 0;
	p, strong, ul {
		color:$theme-primary-ft-color;
	}
  div.top-text-section {
    border-bottom: 1px solid $theme-neutral-color;
    padding: $theme-base-size * 5 0;
    line-height: 32px;
    strong {
  		margin-bottom:12px;
  	}
    @media (max-width: $screen-md-min) {
		    line-height: 21px;
  	}
	}
  // Privacy Policy title
	h1 {
    //color: $sc-color-primary;
    border-bottom: 1px solid $theme-neutral-color;
    margin-top: $theme-base-size * 3 0 $theme-base-size * 4 0;
    padding-bottom: $theme-base-size * 2;
	}
	h3 {
    margin-top: $theme-base-size * 6;
    font-size: $theme-normal-font-size;
    //text-decoration: underline;
    text-transform: uppercase;
    //color: $sc-color-primary;
    font-weight: $sc-font-weight-semibold;
    margin-bottom: $theme-base-size * 2;
    @media (max-width: $screen-md-min) { font-size:$theme-normal-font-size; }
	}
	ul {
		li {
	    list-style: none;
	    list-style-type: initial;
	    margin-left: $theme-base-size * 3;
	    line-height: 26px;
	   }
	}
	@media (min-width: $screen-md-min) {
		div.row {
			margin-bottom: $theme-base-size * 7;
		}
	}
}
